$main-background-light: #9ac5ff;
$main-background-medium: #6495ed;
$main-background-dark: #2668ba;

$second_background-light: #bcbcbc;
$second_background-medium: #8c8c8c;
$second_background-dark: #5f5f5f;

$button-color: lightcyan;
$button-color-hovered: lightgray;

$button-delete: #c92424;
$button-add: #2c9617;

.container {
  background-color: $main-background-dark;
  display: block;
  margin: auto;
  min-height: 15cm;
  max-height: 15cm;
  min-width: 26.5cm;
  max-width: 26.5cm;
}

.gif-box {
  align-self: center;
  width: 500px;
}

.payment-box {
  border-radius: 5px;
  background-color: $main-background-light;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 100px;
  h5 {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
}

.CardInfo-box {
  border-radius: 5px;
  display: inline-block;
  width: max-content;
  align-self: center;
  padding: 20px 50px 20px 50px;
  margin: 20px;
  background-color: $main-background-light;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  h2 {
    text-align: center;
  }
  p {
    text-align: left;
  }
}

.info-box {
  border-radius: 5px;
  padding: 25px;
  background-color: $main-background-light;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

.ticket {
  height: 140px;
  width: 550px;
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  background-color: $main-background-light;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.card-box {
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
  width: 800px;
  height: 140px;
  background-color: $main-background-light;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.discountSelector {
  color: white;
  // background-color: $main-background-light;
  // box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  //   0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.ticketList {
  background-color: $main-background-light;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.clock {
  color: white;
}

.step {
  display: block;
  background-color: #757575;
  border: solid white;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  h2 {
    padding: 10px;
    display: block;
    color: white;
    text-align: center;
  }
}

h1,
h2 {
  text-align: center;
}

.button-large,
.button-medium,
.button-small,
.button-vsmall,
.button-icon {
  background-color: $button-color;
  color: black;
  border: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    background-color: $button-color-hovered;
  }
  &:active {
    background-color: $second-background-medium;
  }
}

.hidden {
  visibility: hidden;
}

.dont-display {
  display: none;
}

.button-large {
  font-size: 3em;
  width: 500px;
  height: 200px;
}
.button-medium {
  font-size: x-large;
  width: 300px;
  height: 70px;
  // &:focus {
  //   background-color: $second-background-medium;
  // }
}
.button-small {
  text-align: center;
  font-size: medium;
  width: 200px;
  height: 50px;
}

.tile-elem {
  padding: 50px;
  max-width: 200px;
  width: 200px;
}

.button-vsmall {
  text-align: center;
  font-size: medium;
  width: 150px;
  height: 40px;
}

.button-icon {
  border: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.button-icon.add {
  background-color: $button-add;
  color: white;
  width: 50px;
  height: 50px;
  &:hover {
    opacity: 0.8;
  }
}

.button-icon.page {
  background-color: $second_background-dark;
  color: white;
  width: 40px;
  height: 40px;
  &:hover {
    opacity: 0.8;
  }
}

.forms {
  background-color: $main-background-light;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.button-icon.page.hidden {
  visibility: hidden;
}

.button-icon.delete {
  background-color: $button-delete;
  color: whitesmoke;
  width: 50px;
  height: 50px;
  &:hover {
    opacity: 0.8;
  }
}

.w-55 {
  width: 55%;
}

.w-45 {
  width: 45%;
}
